/**
 * Alerts
 */
.alert
{
    background: #e6e6e6;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    color: #5A6C7F;
    border-radius: 2px;
}

.alert p
{
    color: #5A6C7F;
    margin-bottom: 0;
}

.alert-info
{
    background: #E4F4FD;
    color: #407EA1;
}

.alert-success
{
    background: #E6F4D8;
    color: #61801B;
}

.alert-warning
{
    background: #F9F9D5;
    color: #7C7548;
}

.alert-error
{
    background: #FBE3E3;
    color: #D34047;
}