/**
 * All APP specific CSS goes in here.
 *
 * @Version:
 * @Author:
 * @URL:
 */




/**
 * We set base colors here as they are
 * application specific
 */
 *
 {
 	color: #686873;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6
 {
 	color: #555555;
 }

 a
 {
 	color: #2daebf;
 }

a:hover
{
	color: #666666;
}

a:active
{
	color: #000000;
}



/**
 * Background image
 */
.bg_shadow
{
	background: url(../img/shadow.png) no-repeat;
	background-position: bottom;
}



/**
 * Main
 */
#main
{
	background: #ffffff;
	min-height: 100%;
	padding: 50px;
	margin: 25px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	float: left;
}



/**
 * Logo
 */
#logo
{
	font-weight: 200;
	font-size: 24px;
	float: left;
	margin-top: -8px;
	margin-bottom: 8px;
}

#logo a
{
	filter: alpha(opacity=100);
  	-khtml-opacity: 1;
  	-moz-opacity: 1;
  	opacity: 1;
  	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all; 
}

#logo a:hover
{
	filter: alpha(opacity=80);
  	-khtml-opacity: 0.8;
  	-moz-opacity: 0.8;
  	opacity: 0.8;
}

#logo small
{
	width: 150px;
	color: #7F7F8A;
	font-weight: 200;
	display: block;
	float: right;
	margin-top: 6px;
}

@media (-webkit-min-device-pixel-ratio:0)
{ 
	#logo small
	{
		margin-top: -35px;
	}
}




/**
 * Nav
 */
nav#primary
{
	width: 100%;
	padding-bottom: 25px;
}

nav#primary ul,
nav#primary .selector
{
	float: right;
}

nav#primary ul li
{
	margin-left: 15px;
	display: inline;
}

nav#primary ul li.current a
{
	color: #333333;
}

nav#primary ul li a
{
	color: #7F7F8A;
	font-size: 16px;
	font-weight: 200;
}

nav#primary ul li a:hover
{
	color: #2daebf;
}
/* @end Nav */



/**
 * Header
 */
header
{
	border-bottom: 1px solid #eeeeee;
	padding: 75px 0 50px 0;
	margin-bottom: 25px;
}

header h1
{
	font-weight: 200!important;
	text-align: center;
	font-weight: normal;
}
/* @end Header */



/**
 * Get
 */
#getit
{
	width: 400px;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

#getit h3
{
	color: #7F7F8A;
}

#getit p
{
	font-size: 12px;
}



/**
 * Footer
 */
footer
{	
	margin-top: 35px!important;
	text-align: center;
}
/* @end Footer */