/**
 * All APP specific CSS goes in here.
 *
 * @Version:
 * @Author:
 * @URL:
 */



 /**
  * Override fixed topbar
  */
 .intro 
 {
 	padding-top: 100px;
 }



/**
 * Topbar
 */
#topbar
{
	background: #2daebf;
	width: 100%;
	height: 25px;
	padding: 10px 0;
	position: fixed;
	z-index: 9999;
}

#topbar .logo
{
	margin: 0 auto;
	padding: 0;
	color: #ffffff;
	font-size: 16px;
}

#topbar .logo > a
{
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}

#topbar .logo > small
{
	color: rgba(255, 255, 255, 0.8);
}
/* @end Topbar */



/**
 * Nav
 */
nav#primary
{
	width: 100%;
}

nav#primary ul,
nav#primary .selector
{
	margin-top: -21px;
	float: right;
}

nav#primary ul li
{
	margin-left: 15px;
	display: inline;
}

nav#primary ul li a
{
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

nav#primary ul li a:hover
{
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	font-weight: bold;
}
/* @end Nav */



/**
 * Header
 */
header
{
	border-bottom: 1px solid #eeeeee;
}
header h1 
{
	font-size: 2.5em;
	font-weight: bold;
	line-height: 18px;
}
/* @end Header */



/**
 * Footer
 */
footer
{
	padding-top: 15px;
	padding-bottom: 15px;
}
/* @end Header */



/** Responsive @media queries for responsive design.
 * Ensure this is included after all your other CSS.
 */



/** 
 * Mobile
 */
nav#primary .selector
{
	display: inherit;
}

nav#primary ul 
{ 
	display: none; 
}

#topbar .logo > small
{
	display: none;
}

.one_full,
.one_half,
.one_third,
.two_third,
.one_quarter 
{ 
	width: 280px; 
}
	
.wrapper 
{
	width: 280px;
}

/** 
 * iPhone landscape 
 */
@media only screen and (min-width: 480px) {
	
	nav#primary .selector
	{
		display: inherit;
	}
	
	nav#primary ul 
	{ 
		display: none; 
	}

	#topbar .logo > small
	{
		display: none;
	}
	
	.wrapper 
	{
		width: 420px;
	}
}

/** 
 * Small tablet portrait 
 */
@media only screen and (min-width: 640px) {
	
	nav#primary .selector
	{
		display: inherit;
	}
	
	nav#primary ul 
	{ 
		display: none; 
	}

	#topbar .logo > small
	{
		display: none;
	}

	.wrapper 
	{
		width: 550px;
	}
}

/** 
 * iPad portrait 
 */
@media only screen and (min-width: 768px) {
	
	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}
	
	#topbar .logo > small
	{
		display: none;
	}

	.wrapper 
	{
		width: 700px;
	}
}

/**
 * Small browser / iPad landscape 
 */
@media only screen and (min-width: 1024px) {
	
	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}

	#topbar .logo > small
	{
		display: inline;
	}
	
	.wrapper 
	{
		width: 960px;
	}
}

/** 
 * Generic browser 
 */
@media only screen and (min-width: 1280px) {
	
	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}
	
	#topbar .logo > small
	{
		display: inline;
	}

	.wrapper 
	{
		width: 1100px;
	}
}

/** 
 * Large browser 
 */
@media only screen and (min-width: 1600px) {
	
	nav#primary .selector
	{
		display: none;
	}
	
	nav#primary ul,
	{ 
		display: inherit; 
	}

	#topbar .logo > small
	{
		display: inline;
	}
	
	.wrapper 
	{
		width: 1200px;
	}
}
