/**
 |--------------------------------------
 | All APP specific CSS goes in here.
 |
 | @Version: 1.0
 | @Author: iKreativ
 | @URL: http://ikreativ.com
 |--------------------------------------
 */

/**
 * Defaults
 */
html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    min-height: 100%;
    width: 100%;
    float: left;
}

blockquote {
	color: #B4C4D0;
}

a:hover,
a:visited:hover {
	color: #f36;
}

a:active {
	color: #000000;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}
/**
 * Section
 */
.section {
	width: 100%;
	padding: 150px 0;
	float: left;
}
/**
 * Primary Navigation
 */
nav#primary {
    background: rgba( 0, 0, 0, 0.4 );
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 999;
    float: left;
}

nav#primary ul {
    width: 100%;
	float: left;
}

nav#primary ul li {
	margin-left: 25px;
	display: inline;
}

nav#primary ul li a {
	font-size: 14px;
	font-weight: 600;
    color: #ffffff;
}

nav#primary ul li.workless a
{
    padding-right: 25px;
    border-right: 1px solid rgba( 255, 255, 255, 0.2 );
    font-size: 18px;
}

nav#primary ul li a:hover {
    color: rgba( 255, 255, 255, 0.5 );
}
/**
 * Responsive Navigation
 */
a.open {
    float: left;
    width: 40px;
    height: 30px;
    margin-top: 5px;
    margin-right: 25px;
    float: right;
    background: #222222 url("../img/menu.png") center center no-repeat;
    border-radius: 2px;
    text-indent: -9999px;
    position: relative;
    z-index: 99999;
}

a:hover.open {
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

#pageslide {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 200px;
    padding: 0;
    background: #3F3F49;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

#pageslide ul {
    list-style: none;
    margin-top: 15px;
    float: left;
}

#pageslide ul li {
    width: 170px;
    display: block;
    list-style: none;
    margin-left: -20px;
    padding: 8px 0 8px 30px;
    border-bottom: 1px solid #484955;
}

#pageslide ul li:first-child {
    border-top: none;
}

#pageslide ul li:last-child {
    border-bottom: none;
}

#pageslide ul li a {
	color: #ffffff;
}
/* dropdown */
#pageslide ul li ul {
    width: 170px;
    display: block;
    list-style: none;
    margin-left: -20px;
    margin-bottom: 10px;
    padding: 10px 0 10px 30px;
}

#pageslide ul li ul,
#pageslide ul li ul li {
    border-bottom: none;
    border-top: none;
}

#pageslide ul li ul li {
    padding: 5px 0 5px 20px;
}
/**
 * Header
 */
#header {
    background: url("../img/workless.jpg") no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 20%;
    float: left;
}

#header h1 {
    color: #ffffff;
}

#header h2 {
    color: rgba( 255, 255, 255, 0.8 );
}

#header a.button {
    background: none!important;
    border: 2px solid rgba( 255, 255, 255, 0.5 );
    color: rgba( 255, 255, 255, 0.5 )!important;
    margin-top: 25px;
    text-align: center;
}

#header a:hover.button
{
    border: 2px solid #f36!important;;
    background: #f36!important;
    color: #ffffff!important;
}
/**
 * Logo
 */
#logo {
    margin: 0 auto;
}

#logo h1 {
    color: #ffffff;
    font-weight: 600;
}
/**
 * Icon styles for demo
 */
ul.icons li {
    width: 100px;
    height: 100px;
    background: #eeeeee;
    padding: 25px 15px 15px 15px;
    margin: 1px;
    font-size: 12px;
    text-align: center;
    float: left;
    -webkit-transition: 250ms linear all;
    -moz-transition: 250ms linear all;
    transition: 250ms linear all;
}

ul.icons li:hover {
    background: #f36;
    color: #ffffff;
}

ul.icons li i {
    width: 100px!important;
    font-size: 14px!important;
    text-align: center;
    display: block;
}
/**
 * Footer
 */
footer#footer {
    color: #666666;
    font-size: 14px;
    border-top: 1px solid #eeeeee;
    width: 100%;
	padding: 100px;
	float: left;
}

footer#footer a {
    color: #f36;
}

footer#footer a:hover {
    color: #ffffff;
}

#sharing {
    margin-bottom: 25px;
}

#sharing li {
    display: inline;
}