/**
 |--------------------------------------
 | All APP specific CSS goes in here.
 |
 | @Version:
 | @Author:
 | @URL:
 |--------------------------------------
 */

/**
 * Defaults
 */
html,
body
{
    background: #f6f6f6;
    height: 100%;
    color: #5A6C7F;
}

h1, h2, h3, h4, h5, h6
{
    color: #42505F;
}

p,
li,
dl dt,
dl dd
{
	color: #5A6C7F;
}

blockquote
{
	color: #B4C4D0;
}

a
{
 	color: #F16863;
}

a:hover,
a:visited:hover
{
	color: #506173;
}

a:active
{
	color: #000000;
}

::-moz-selection
{
	background: #000000;
	color: #ffffff;
	text-shadow: none;
}

::selection
{
	background: #000000;
	color: #ffffff;
	text-shadow: none;
}
/* @end Defaults */

/**
 * Sections
 */
.section,
.section-alt
{
	width: 93%;
	padding: 50px;
	float: left;
}

.section
{
	background: #fffefe;
}

.section-alt
{
	background: #F16863;
}

.section-alt-alt
{
	background: #3F3F49;
}
/* @end Sections */

/**
 * Logo
 */
#logo
{
	font-weight: 200;
	font-size: 24px;
	float: left;
	margin-top: -8px;
	margin-bottom: 8px;
}

#logo a
{
	filter: alpha(opacity=100);
  	-khtml-opacity: 1;
  	-moz-opacity: 1;
  	opacity: 1;
  	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all; 
}

#logo a:hover
{
	filter: alpha(opacity=80);
  	-khtml-opacity: 0.8;
  	-moz-opacity: 0.8;
  	opacity: 0.8;
}

#logo small
{
	width: 150px;
	color: #7F7F8A;
	font-weight: 200;
	display: block;
	float: right;
	margin-top: 6px;
}

@media (-webkit-min-device-pixel-ratio:0)
{ 
	#logo small
	{
		margin-top: -35px;
	}
}

/**
 * Nav
 */
nav#primary
{
	width: 100%;
	padding-bottom: 25px;
}

nav#primary ul
{
	float: right;
}

nav#primary ul li
{
	margin-left: 15px;
	display: inline;
}

nav#primary ul li.current a
{
	color: #333333;
}

nav#primary ul li a
{
	color: #7F7F8A;
	font-size: 16px;
	font-weight: 200;
}

nav#primary ul li a:hover
{
	color: #2daebf;
}
/* @end Nav */

/**
 * Header
 */
header h1,
header h2,
header h3,
header p
{
	color: #ffffff;
}
/* @end Header */

/**
 * Footer
 */
footer
{	
	margin-top: 35px!important;
	text-align: center;
}
/* @end Footer */