/**
* Breadcrumbs
*/
.breadcrumbs {
    padding: 7px 14px 10px 14px;
    margin: 0 0 18px;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #ffffff;
}

.breadcrumbs li {
    display: inline;
    font-size: 13px;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
}

.breadcrumbs .active a {
    color: #333333;
}