/**
 * Buttons
 */
.button
{
	background-color: #3F3F49;
	display: inline-block;
	padding: 10px 20px 8px 20px;
	margin-bottom: 1.5em;
	color: #ffffff!important;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	border-radius: 2px;
}

.small.button
{
	font-size: 14px;
}

.medium.button
{
	font-size: 18px;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}

.large.button
{
	font-size: 20px;
	padding: 20px 35px;
}

.rounded.button
{
	border-radius: 25px;
}

/**
 * Pink
 */
.pink.button
{
	background-color: #fe57a1!important;
}

/**
 * Green
 */
.green.button
{
	background-color: #91bd09!important;
}

/**
 * Blue
 */
.blue.button
{
	background-color: #2daebf!important;
}

/**
 * Red
 */
.red.button
{
	background-color: #ff0000!important;
}

/**
 * Magenta
 */
.magenta.button
{
	background-color: #a9014b!important;
}

/**
 * Orange
 */
.orange.button
{
	background-color: #F16863!important;
}

/**
 * Yellow
 */
.yellow.button
{
	background-color: #ffb515!important;
}

/**
 * Hovers
 */
.button:hover
{
	background-color: #7A7B92!important;
	color: #ffffff;
}

.button:active
{
	top: 1px;
}
/* @end Buttons */