/**
 * Buttons 
 */
.btn 
{
	display: inline-block;
  	padding: 4px 10px 4px;
  	font-size: 13px;
  	line-height: 18px;
  	color: #333333;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	background-color: #fafafa;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  	background-repeat: no-repeat;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  	border: 1px solid #ccc;
  	border-bottom-color: #bbb;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  	cursor: pointer;
  	*margin-left: .3em;
}
.btn:first-child 
{
  	*margin-left: 0;
}
.btn:hover 
{
  	color: #333333;
  	text-decoration: none;
  	background-color: #e6e6e6;
  	background-position: 0 -15px;
  	-webkit-transition: background-position 0.1s linear;
  	-moz-transition: background-position 0.1s linear;
  	-ms-transition: background-position 0.1s linear;
  	-o-transition: background-position 0.1s linear;
  	transition: background-position 0.1s linear;
}
.btn:focus 
{
  	outline: thin dotted;
  	outline: 5px auto -webkit-focus-ring-color;
  	outline-offset: -2px;
}
.btn.active, 
.btn:active 
{
  	background-image: none;
  	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  	background-color: #e6e6e6;
  	background-color: #d9d9d9 \9;
  	color: rgba(0, 0, 0, 0.5);
  	outline: 0;
}
.btn.disabled, 
.btn[disabled] 
{
  	cursor: default;
  	background-image: none;
  	background-color: #e6e6e6;
  	opacity: 0.65;
  	filter: alpha(opacity=65);
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
}
.large 
{
  	padding: 9px 14px;
  	font-size: 15px;
  	line-height: normal;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
}
.large .icon 
{
  	margin-top: 1px;
}
.small 
{
  	padding: 5px 9px;
  	font-size: 11px;
  	line-height: 16px;
}
.small .icon 
{
  	margin-top: -1px;
}
.primary,
.primary:hover,
.warning,
.warning:hover,
.danger,
.danger:hover,
.success,
.success:hover,
.info,
.info:hover 
{
 	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	color: #ffffff;
}
.primary.active,
.warning.active,
.danger.active,
.success.active,
.info.active 
{
  	color: rgba(255, 255, 255, 0.75);
}
.primary 
{
  	background-color: #006dcc;
  	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  	background-image: linear-gradient(top, #0088cc, #0044cc);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  	border-color: #0044cc #0044cc #002a80;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.primary:hover,
.primary:active,
.primary.active,
.primary.disabled,
.primary[disabled] 
{
  	background-color: #0044cc;
}
.primary:active, 
.primary.active 
{
  	background-color: #003399 \9;
}
.warning 
{
  	background-color: #faa732;
  	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  	background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  	background-image: -o-linear-gradient(top, #fbb450, #f89406);
  	background-image: linear-gradient(top, #fbb450, #f89406);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  	border-color: #f89406 #f89406 #ad6704;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}	
.warning:hover,
.warning:active,
.warning.active,
.warning.disabled,
.warning[disabled] 
{
  	background-color: #f89406;
}
.warning:active, .warning.active 
{
  	background-color: #c67605 \9;
}
.danger 
{
  	background-color: #da4f49;
  	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  	background-image: linear-gradient(top, #ee5f5b, #bd362f);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  	border-color: #bd362f #bd362f #802420;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.danger:hover,
.danger:active,
.danger.active,
.danger.disabled,
.danger[disabled] 
{
  	background-color: #bd362f;
}
.danger:active, .danger.active 
{
  	background-color: #942a25 \9;
}
.success 
{
  	background-color: #5bb75b;
  	background-image: -moz-linear-gradient(top, #62c462, #51a351);
  	background-image: -ms-linear-gradient(top, #62c462, #51a351);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  	background-image: -o-linear-gradient(top, #62c462, #51a351);
  	background-image: linear-gradient(top, #62c462, #51a351);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  	border-color: #51a351 #51a351 #387038;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.success:hover,
.success:active,
.success.active,
.success.disabled,
.success[disabled] 
{
  	background-color: #51a351;
}
.success:active, 
.success.active 
{
  	background-color: #408140 \9;
}
.info 
{
  	background-color: #49afcd;
  	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  	background-image: linear-gradient(top, #5bc0de, #2f96b4);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  	border-color: #2f96b4 #2f96b4 #1f6377;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.info:hover,
.info:active,
.info.active,
.info.disabled,
.info[disabled] 
{
  	background-color: #2f96b4;
}
.info:active, 
.info.active 
{
  	background-color: #24748c \9;
}
button.btn, 
input[type="submit"].btn 
{
  	*padding-top: 2px;
  	*padding-bottom: 2px;
}
button.btn::-moz-focus-inner, 
input[type="submit"].btn::-moz-focus-inner 
{
  	padding: 0;
  	border: 0;
}
button.btn.large, input[type="submit"].btn.large 
{
  	*padding-top: 7px;
  	*padding-bottom: 7px;
}
button.btn.small, 
input[type="submit"].btn.small 
{
  	*padding-top: 3px;
  	*padding-bottom: 3px;
}
/* @end Buttons */