/**
 * application colors
 */
 *
 {
 	color: #686873;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6
 {
 	color: #555555;
 }

 a
 {
 	color: #2daebf;
 }

a:hover
{
	color: #666666;
}

a:active
{
	color: #000000;
}

::-moz-selection 
{ 
	background: #34ade8; 
	color: #ffffff; 
	text-shadow: none; 
}

::selection 
{ 
	background: #34ade8; 
	color: #ffffff; 
	text-shadow: none; 
}