/**
 * Forms
 */
form
{
	margin: 0;
}

form ul
{
	margin: 5px 0 5px 0;
	padding: 0;
}

form ul li
{
	list-style: none;
}

fieldset
{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 5px 0 15px 0;
	padding: 25px;
}

fieldset ul
{
	margin: 0;
	padding: 0;
}

fieldset ul li
{
	list-style: none;
}

/**
 * Indicate that 'label' will shift focus
 * to the associated form element
 */
label
{
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
}

legend
{
	border: 0;
	padding: 0;
	margin-left: 5px;
	font-size: 16px;
	font-weight: bold;
}

button,
input,
select,
textarea
{
	margin: 10px 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"]
{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px;
	margin-bottom: 1.5em;
	text-decoration: none;
	border: none;
	position: relative;
	cursor: pointer;
	-webkit-transition: 250ms linear all;
	-moz-transition: 250ms linear all;
	transition: 250ms linear all;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"]
{
  	background: #F16863;
	color: #ffffff;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover
{
  	background: #7A7B92;
	color: #ffffff;
	border: 1px solid #7A7B92!important;
}

input[type="text"],
input[type="password"],
textarea
{
	font-size: 16px;
	color: #5A6C7F;
	background: #dddfe5;
	padding: 10px;
	border-radius: 2px;
	border: none;
}

select
{
	font-size: 16px;
	color: #5A6C7F;
	background: #dddfe5;
	padding: 9px 10px;
	border-radius: 2px;
	border: none;
}

input[type="file"]
{
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}

textarea
{
	min-height: 100px;
	margin-bottom: 10px;
}

input.blue,
textarea.blue
{
	border: 1px solid #2daebf;
}

input.orange,
textarea.orange
{
	border: 1px solid #ff5c00;
}

input.red,
textarea.red
{
	border: 1px solid #ff2b25;
}

input.green,
textarea.green
{
	border: 1px solid #91bd09;
}

label.blue,
label.orange,
label.red,
label.green
{
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	float: left;
	margin: 0 0 5px 2px;
}

label.blue
{
	color: #2daebf;
}

label.orange
{
	color: #ff5c00;
}

label.red
{
	color: #ff2b25;
}

label.green
{
	color: #91bd09;
}

/**
 * Colors for form validity
 */
label.error
{
	width: 100%;
	display: block;
	color: #F16863;
	font-size: 11px;
	margin-top: -10px;
	margin-bottom: 10px;
	text-align: left;
}

input.error
{
	border: 1px solid #F16863;
}

textarea.error
{
	border: 1px solid #F16863;
}

label span.required
{
	color: #F16863;
}

label span.info
{
	filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}
/* @end Forms */
