/**
 * Labels and notifications
 */
.label {
	font-size: 12px;
  	font-weight: bold;
  	line-height: 14px;
  	color: #ffffff;
  	white-space: nowrap;
  	vertical-align: baseline;
  	background-color: #3F3F49;
  	padding: 4px 6px;
    border-radius: 3px;
}

.notification {
	font-size: 11px;
  	font-weight: bold;
  	text-align: center;
  	line-height: 14px;
  	color: #ffffff;
  	white-space: nowrap;
  	vertical-align: baseline;
  	background-color: #999999;
  	padding: 4px 8px 5px 8px;
    border-radius: 25px;
}

.label.red,
.notification.red {
 	 background-color: #ff2b25;
}

.label.orange,
.notification.orange {
  	background-color: #F16863;
}

.label.green,
.notification.green {
  	background-color: #91bd09;
}

.label.blue,
.notification.blue {
  	background-color: #2daebf;
}

.label.pink,
.notification.pink {
	background-color: #fe57a1;
}

.label.magenta,
.notification.magenta {
	background-color: #a9014b;
}

.label.yellow,
.notification.yellow {
	background-color: #ffb515;
}

.label.flat,
.notification.flat {
	border-bottom: none;
	box-shadow: none;
}
/**
 * Cancel list styles
 */
.nolist {
	list-style: none;
	margin: 0;
	padding: 0;
}
/**
 * Cancel margins
 */
.no-top-margin {
	margin-top: 0;
}
.no-bottom-margin {
	margin-bottom: 0;
}
.no-left-margin {
	margin-left: 0;
}
.no-right-margin {
	margin-right: 0;
}
/**
 * Cancel borders
 */
.no-border {
	border: none;
}
.no-top-border {
	border: none;
}
.no-bottom-border {
	border: none;
}
.no-left-border {
	border: none;
}
.no-right-border
{
	border: none;
}
/**
 * Colors
 */
.muted {
	color: #888888;
}
/**
 * Positioning
 */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	float: none;
	margin: 0 auto;
	text-align: center;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}
.inline {
	display: inline;
}
/**
 * Hide from screenreaders and browsers.
 */
.hidden {
	display: none !important;
	visibility: hidden;
}
/**
 * Hide only visually, but have it available
 * for screenreaders.
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/**
 * Extends the .visuallyhidden class to allow
 * the element to be focusable when navigated
 * to via the keyboard.
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/**
 * Hide visually and from screenreaders, but
 * maintain layout
 */
.invisible {
	visibility: hidden;
}
/**
 * Floats
 */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
/**
 * Misc
 */
.help-text {
	font-size: 12px;
}