/**
* Pagination
*/
.pagination {
    margin: 0;
    float: left;
    width: 100%;
}

.pagination ul {
    float: left;
    margin: 0;
    padding: 0;
}

.pagination ul li {
    list-style: none;
    float: left;
    margin-right: 3px;
}

.pagination ul li a {
    background: #dddddd;
    border: 1px solid #999999;
    cursor: pointer;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding: 5px 9px;
    border-radius: 2px;
}

.pagination ul li a:hover,
.pagination ul li.active a {
    background: #ffffff;
    border: 1px solid #dddddd;
    font-size: 12px;
    font-weight: bold;
}

.pagination ul li.inactive a {
    background-color: none;
    color: #313131;
}

.pagination ul li.inactive a:hover {
    color: #313131;
}

.pagination ul li.next a {
    border: 0;
}