/**
 * Pretty printing styles
 */
.pln { color: #60bfb1!important; }
pre .str { color: #F16863; }
pre .kwd { color: #4bb1b1; }
pre .com { color: #888888; }
pre .typ { color: #ef7c61; }
pre .lit { color: #bcd42a; }
pre .pun,
pre .opn,
pre .clo { color: #ffffff; }
pre .tag { color: #4bb1b1; }
pre .atn { color: #ef7c61; }
pre .atv { color: #bcd42a; }
pre .dec,
pre .var { color: #660066; }
pre .fun { color: #ff0000; }

pre.prettyprint 
{
    background: #3F3F49!important;
    border: 0!important;
    border-radius: 2px;
    padding: 15px 25px!important;
    display: block;
    overflow: hidden;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

pre.prettyprint span
{
    font-size: 14px!important;
    font-family: monospace!important;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }

/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }