/*
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

@Media Queries for responsive design. These override the primary('mobile first') styles.

Ensure your main styling comes before this!

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
*/

/* Mobile queries. */
nav select, .selector {
	display: inherit;
}

nav#mainnav ul { display: none; }

.one_full { 
	width: 280px; 
}

.one_half { 
	width: 280px; 
}

.one_third { 
	width: 280px; 
}

.two_third { 
	width: 280px; 
}

.one_quarter { 
	width: 280px; 
}
	
.wrapper {
	width: 280px;
}

/* iPhone landscape */
@media only screen and (min-width: 480px) {
	
	nav select, .selector {
		display: inherit;
	}
	
	nav#mainnav ul { display: none; }
	
	.one_full { 
		width: 420px; 
	}

	.one_half { 
		width: 190px; 
	}

	.one_third { 
		width: 110px; 
	}

	.two_third { 
		width: 250px; 
	}

	.one_quarter { 
		width: 185px; 
	}
	
	.wrapper {
		width: 420px;
	}
}

/* Small tablet portrait */
@media only screen and (min-width: 640px) {
	
	nav select, .selector {
		display: inherit;
	}
	
	nav#mainnav ul { display: none; }
	
	.one_full { 
		width: 650px; 
	}

	.one_half { 
		width: 310px; 
	}

	.one_third { 
		width: 200px; 
	}

	.two_third { 
		width: 425px; 
	}

	.one_quarter { 
		width: 140px; 
	}
	
	.wrapper {
		width: 650px;
	}
}

/* iPad portrait */
@media only screen and (min-width: 768px) {
	
	#nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul { display: inherit; }
	
	.one_full { 
		width: 750px; 
	}

	.one_half { 
		width: 360px; 
	}

	.one_third { 
		width: 230px; 
	}

	.two_third { 
		width: 490px; 
	}

	.one_quarter { 
		width: 160px; 
	}
	
	.wrapper {
		width: 750px;
	}
}

/* Small browser / iPad landscape */
@media only screen and (min-width: 1024px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul { display: inherit; }
	
	.one_full { 
		width: 800px; 
	}

	.one_half { 
		width: 385px; 
	}

	.one_third { 
		width: 250px; 
	}

	.two_third { 
		width: 525px; 
	}

	.one_quarter { 
		width: 180px; 
	}
	
	.wrapper {
		width: 800px;
	}
}

/* Generic browser */
@media only screen and (min-width: 1280px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul { display: inherit; }
	
	.one_full { 
		width: 850px; 
	}

	.one_half { 
		width: 400px; 
	}

	.one_third { 
		width: 265px; 
	}

	.two_third { 
		width: 555px; 
	}

	.one_quarter { 
		width: 185px; 
	}
	
	.wrapper {
		width: 850px;
	}
}

/* Large browser */
@media only screen and (min-width: 1600px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 487px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}