/**
 * Scaffolding
 */
.boxed
{
  width: 60%;
	margin: 0 auto;
	padding: 0;
}

.one_full
{
    width: 100%;
	margin: 0;
	float: left;
}

.one_half,
.one_third,
.two_third,
.one_quarter,
.one_fifth
{
	margin: 0;
    padding-right: 25px;
	float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.one_full
{
    width: 100%;
}

.one_half
{
    width: 50%;
}

.one_third
{
    width: 33.33333%;
}

.two_third
{
    width: 66.66666%;
}

.one_quarter
{
    width: 25%;
}

.one_fifth
{
    width: 20%;
}
/* @end Scaffolding */
