/**
 * Tables
 */
table 
{
  	width: 100%;
  	margin-bottom: 18px;
  	padding: 0;
  	border-collapse: separate;
  	font-size: 13px;
}
table th, 
table td 
{
  	padding: 10px 10px 9px;
  	line-height: 13.5px;
  	text-align: left;
  	vertical-align: middle;
  	border-bottom: 1px solid #ddd;
}
table th 
{
  	padding-top: 9px;
  	font-weight: bold;
  	border-bottom-width: 2px;
}
.zebra-striped tbody tr:nth-child(odd) td 
{
  	background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td 
{
  	background-color: #f5f5f5;
}
.zebra-striped .header 
{
  	cursor: pointer;
}
.zebra-striped .header:after 
{
  	content: "";
  	float: right;
  	margin-top: 7px;
  	border-width: 0 4px 4px;
  	border-style: solid;
  	border-color: #000 transparent;
  	visibility: hidden;
}
.zebra-striped .headerSortUp, 
.zebra-striped .headerSortDown 
{
  	background-color: rgba(141, 192, 219, 0.25);
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	-webkit-border-radius: 3px 3px 0 0;
  	-moz-border-radius: 3px 3px 0 0;
  	border-radius: 3px 3px 0 0;
}
.zebra-striped .header:hover:after 
{
  	visibility: visible;
}
.zebra-striped .headerSortDown:after, 
.zebra-striped .headerSortDown:hover:after 
{
  	visibility: visible;
  	filter: alpha(opacity=60);
  	-khtml-opacity: 0.6;
  	-moz-opacity: 0.6;
  	opacity: 0.6;
}
.zebra-striped .headerSortUp:after 
{
  	border-bottom: none;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	border-top: 4px solid #000;
  	visibility: visible;
  	-webkit-grid-shadow: none;
  	-moz-grid-shadow: none;
  	grid-shadow: none;
  	filter: alpha(opacity=60);
  	-khtml-opacity: 0.6;
  	-moz-opacity: 0.6;
  	opacity: 0.6;
}
table .blue 
{
  	color: #049cdb;
  	border-bottom-color: #049cdb;
}
table .green 
{
  	color: #46a546;
  	border-bottom-color: #46a546;
}
table .red 
{
  	color: #9d261d;
  	border-bottom-color: #9d261d;
}
table .yellow {
  	color: #ffc40d;
  	border-bottom-color: #ffc40d;
}
table .orange 
{
  	color: #f89406;
  	border-bottom-color: #f89406;
}
table .purple 
{
  	color: #7a43b6;
  	border-bottom-color: #7a43b6;
}
/* @end Tables */