/**
 * Typography
 */

* { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	line-height: 1.231; 
	text-rendering: optimizeLegibility; 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}
a 
{ 
	color: #0088cc; 
	font-weight: inherit; 
	font-size: 13px; 
	text-decoration: none; 
	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all; 
}
a:hover 
{ 
	color: #555555; 
}
a:active 
{ 
	color: #000000;
}
a:focus 
{ 
	outline: 0; 
}
a:hover, 
a:active 
{ 
	outline: 0; 
}
abbr[title] 
{ 
	border-bottom: 1px dotted; 
}
b, 
strong 
{ 
	font-weight: bold; 
}
blockquote { 
	margin: 0; 
	padding: 0 0 0 5px; 
	float: left; 
}
blockquote p 
{ 
	font-size: 16px; 
	font-weight: 300; 
	line-height: 18px; 
	padding: 25px 0 0 45px; 
}
blockquote:before 
{ 
	content: '\201C'; 
	font-size: 76px; 
	position: absolute; 
	color: #c7c7c7; 
}

dfn 
{ 
	font-style: italic; 
}
hr 
{ 
	display: block; 
	height: 0px; 
	width: 100%; 
	border: 0; 
	border-bottom: 1px solid #ffffff; 
	border-top: 1px solid #dddddd; 
	margin: 15px 0 15px 0; 
	padding: 0; 
	float: left; 
}
ins 
{ 
	background: #ff9; 
	color: #333333; 
	text-decoration: none; 
}
mark 
{ 
	background: #ff0; 
	color: #333333; 
	font-style: italic; 
	font-weight: bold; 
}
address 
{ 
	display: block; 
	line-height: 18px; 
	margin-bottom: 18px; 
}
pre, 
code, 
kbd, 
samp 
{ 
	font-family: monospace; 
	_font-family: 'courier new', monospace; 
	font-size: 13px; 
}
code, 
pre 
{
	display: block;
	overflow: hidden;
	background: #fefefe;
	color: #333333;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;
}
q 
{ 
	quotes: none; 
}
q:before, 
q:after 
{ 
	content: ""; 
	content: none; 
}
small 
{ 
	font-size: 85%;
}

/**
 * Position subscript and superscript 
 * content without affecting line-height. 
 */
sub, 
sup 
{ 
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup 
{ 
	top: -0.5em; 
}
sub 
{ 
	bottom: -0.25em; 
}

/** 
 * Give paragraphs some default styling. 
 */
p 
{ 
	font-size: 13px; 
	color: #444444; 
	font-weight: normal; 
	line-height: 18px; 
	margin: 0 3px 15px 3px; 
}
p small 
{ 
	font-size: 11px; 
	color: #444444; 
}

/** 
 * Give headings some default styling. 
*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a 
{ 
	color: #333333; 
	margin-bottom: 25px; 
}
h1 small, 
h2 small, 
h3 small, 
h4 small, 
h5 small, 
h6 small 
{ 
	color: #333333; 
}
/** 
 * Set individual heading styles 
*/
h1 
{ 
	font-size: 24px; 
	line-height: 24px; 
}
h1 small 
{ 
	font-size: 20px; 
}
h2 
{ 
	font-size: 20px; 
	line-height: 22px; 
}
h2 small 
{ 
	font-size: 18px; 
}
h3 
{ 
	font-size: 16px; 
	line-height: 18px; 
}
h3 small 
{ 
	font-size: 14px; 
}
h4 
{ 
	font-size: 14px; 
	line-height: 16px; 
}
h4 small 
{ 
	font-size: 12px; 
}
h5 
{ 
	font-size: 12px; 
	line-height: 12px; 
}
h5 small 
{ 
	font-size: 10px; 
}
h6 
{ 
	font-size: 10px; 
	line-height: 11px; 
}
h6 small 
{ 
	font-size: 10px; 
}

/**
 * Lists
 */
ul, 
ol 
{ 
	margin: 0 0 15px 0; 
	padding: 0; 
}
ul ul, 
ul ol, 
ol ol, 
ol ul 
{ 
	margin-bottom: 0; 
}
ul 
{ 
	list-style: disc; 
}
ol 
{ 
	list-style: decimal; 
}
li 
{ 
	line-height: 15px; 
	color: #808080; 
}
dl 
{ 
	margin-bottom: 15px; 
}
dl dt, 
dl dd 
{ 
	line-height: 15px; 
}
dl dt 
{ 
	font-weight: bold; 
}
dl dd 
{ 
	margin-left: 9px; 
}
ul, ol 
{ 
	margin: 15px 0; 
	padding: 0; 
}
dd { 
	margin: 0 0 0 25px; 
}

/** 
 * We probably don't want list-styles if it's in a navigation. 
 */
nav ul, 
nav ol, 
#nav ul, 
#nav ol, 
#navigation ul, 
#navigation ol, 
.nav 
{ 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0; 
}

/* @end Typography */