/**
 * Typography
 */
html 
{
	font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body 
{
	font-weight: normal;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

::-moz-selection 
{
	background: #000000;
	color: #ffffff;
	text-shadow: none;
}

::selection 
{
	background: #000000;
	color: #ffffff;
	text-shadow: none;
}

a 
{
	color: #000000;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: none;
	-webkit-transition: 250ms linear all;
	-moz-transition: 250ms linear all;
	transition: 250ms linear all;
}

a:hover 
{
}

a:active 
{
}

a:focus 
{
	outline: 0;
}

a:hover,
a:active 
{
	outline: 0;
}

abbr[title] 
{
	border-bottom: 1px dotted;
}

b,
strong 
{
	color: inherit;
	font-weight: bold;
}

blockquote,
blockquote p 
{
	font-size: 24px;
	font-weight: 400;
	position: relative;
	z-index: 5;
    float: left;
    margin-top: 0;
    margin-bottom: 5px;
}

span.fancyamp 
{
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
  	font-style: italic;
  	color: inherit;
  	font-size: inherit;
}

dfn 
{
	font-style: italic;
}

hr 
{
	display: inline-block;
	height: 0px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #eeeeee;
	padding: 0;
	margin: 25px 0;
}

ins 
{
	background: #ffffe0;
	text-decoration: none;
}

mark 
{
	background: #ffffe0;
	font-style: italic;
	font-weight: bold;
}

address 
{
	display: block;
	line-height: 18px;
	margin-bottom: 18px;
}

pre,
code,
kbd,
samp 
{
	font-family: monospace;
}

code 
{
	padding: 2px 4px;
	background: #f9f9f9;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	font-size: 12px;
}

pre 
{
	display: block;
	overflow: hidden;
	background: #f9f9f9;
	border: 1px solid #eeeeee;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: monospace;
	font-size: 12px;
}

q 
{
	quotes: none;
}
q:before,
q:after 
{
	content: "";
	content: none;
}

small 
{
	font-size: 0.6em;
}
/**
 * Position subscript and superscript
 * content without affecting line-height.
 */
sub,
sup 
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup 
{
	top: -0.5em;
}

sub 
{
	bottom: -0.25em;
}
/**
 * Give paragraphs some default styling.
 */
p
{
	line-height: 26px;
	margin: 0 0 1em 0;
	display: block;
}
/**
 * Lists
 */
ul,
ol 
{
	margin: 0 0 15px 0;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul 
{
	margin-bottom: 0;
}

ul 
{
	list-style: disc;
}

ol 
{
	list-style: decimal;
}

ol.roman 
{
	list-style: upper-roman;
}

li 
{
	line-height: 1.5em;
}

dl 
{
	margin-bottom: 15px;
}

dl dt,
dl dd 
{
	font-size: 16px;
}

dl dt 
{
	font-weight: bold;
}

dl dd 
{
	margin-left: 9px;
}

ul, ol 
{
	margin: 0 0 10px 20px;
	padding: 0;
}

dd 
{
	margin: 0 0 0 20px;
}
/**
 * Set heading styles
 */
h1,
h2,
h3,
h4,
h5,
h6 
{
    margin: 0 0 1em 0;
    line-height: 1.2em;
}

h1, h2, h3, h4
{
	font-weight: 400;
}

h5, h6 
{
	font-weight: 600;
}
/**
 * We probably don't want list-styles if it's in a navigation.
 */
nav ul,
nav ol,
#nav ul,
#nav ol,
#navigation ul,
#navigation ol,
.nav {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}