/**
 | ---------------------------------------------------------------
 | Workless by @iKreativ is a HTML, CSS and JS framework to get
 | your projects of the ground as fast as possible.
 |
 | It is split into a number of seperate CSS & JS files which
 | allows you to use as much, or as little as you please.
 |
 | You'll notice that this file contains the Base styles only
 | then all other CSS is loaded seperately.
 |
 | This is not recommended.
 |
 | Once you've decided which components you are going to use, then
 | simply copy/paste them all into a single CSS file to reduce HTTP
 | requests!
 | ---------------------------------------------------------------
 */
/**
 * Border Box
 */
*, *:before, *:after
{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
/**
 * HTML5 display definitions
 */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
nav, 
section 
{ 
	display: block; 
	margin: 0 auto;
}

audio, 
canvas, 
video 
{ 
	display: inline-block; 
	*display: inline; 
	*zoom: 1; 
}

audio:not([controls]) 
{ 
	display: none; 
}

[hidden] 
{ 
	display: none; 
}

figure 
{ 
	margin: 0; 
}
/**
 * Base
 */
html, 
body 
{
	margin: 0; 
	padding: 0;
}

body 
{   
	width: 100%; 
	overflow-x: hidden; 
}
/**
 * Embedded Content
 */
img 
{ 
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic; 
	vertical-align: middle; 
	border: 0; 
	outline: 0; 
	-webkit-transition: 150ms linear all;
	-moz-transition: 150ms linear all;
	transition: 150ms linear all; 
}

iframe
{
	border: none;
}
/**
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) 
{ 
	overflow: hidden; 
}